In [2]:
import pandas as pd
import numpy as np

In [3]:
texas = pd.read_csv('finaldb.csv')

In [4]:
texas.head()

,num,execution,lastname,firstname,tdcjnumber,age,dateofexecution,race,county,finalstatement,...,prioroccupation,priorrecord,crime,victim,numofvictims,remorse,religion,denial,anger,acceptance
0,NaN,12,Barney,Jeffery,714,34,1986-04-16,white,Harris,statement given,...,NaN,No,Other,NaN,1.0,1,1,0,0,1
1,0.0,13,Pinkerton,Jay,686,25,1986-05-15,white,Nueces,statement given,...,NaN,Yes,murder burglary rape,white female,1.0,1,1,0,0,0
2,1.0,14,Esquivel,Rudy,606,50,1986-06-09,hispanic,Harris,statement given,...,NaN,No,NaN,NaN,NaN,0,0,0,0,0
3,2.0,15,Brock,Kenneth,522,37,1986-06-19,white,Harris,statement given,...,NaN,No,NaN,NaN,NaN,0,0,0,0,0
4,3.0,16,Woolls,Randy,646,36,1986-08-20,white,Tom Green,statement given,...,NaN,Yes,murder,white female,1.0,1,0,0,0,0